*{
    margin: 0;
    padding: 0;
}
section{
    display: flex;
    justify-content: center;

    
}

.row{
    text-align: center;
    margin: 200px auto;
    width: 500px;
    border: 3px  gray solid ;
    height: 250px;
    background-color: #B5CFB7;

}
p{
    color: #e56d1e;
}
input:hover{
    border-radius: 10px;
    border-color: aliceblue;
}
.row div{
    padding: 20px;
}
.col3{
    display: flex;
    justify-content: space-around;
    
}

input{
    width: 320px;
    height: 50px;
}
.col3 div {
    padding: 0px 50px;
}